# Node.js
node_modules/
.env
npm-debug.log

# Logs
logs/
*.log
tunnel.log

# Docker
*.tar
Dockerfile.dev

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars

# SSH Key
*.pem

# Zip files
*.zip

# VSCode & OS
.vscode/
.DS_Store
Thumbs.db
