<!DOCTYPE html>
<html>
<head>
  <title>Edited With Github Actions</title>
  
</head>
<body>
  <h1>Edited With Github Action fuck ittttt aaahhh believe!</h1>
  <a href="/files">📂 View Uploaded Files</a>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="logfile" accept=".log" required />
    <button type="submit">Upload</button>
  </form>
</body>
</html>
